.done-true {
  text-decoration: line-through;
  color: #949494;
}

.list-item {
	list-style: none;
	margin: 10px 0px;
}

.show-false, .hide-true {
	display: none;
}

.panel-category {
	margin: 40px 0px;
}

.panel-title {
	color: #FFF;
}

.panel input[type='submit'] {
	color: #FFF;
}

.panel input[type='submit']:hover {
	color: ;
}

.panel-Camp .panel-heading, 
.panel-Camp input[type='submit'], 
.panel-notes .panel-heading,
.panel-notes input[type='submit'] {
	background-color: #2A042B;
}

.panel-Clothing .panel-heading, 
.panel-Clothing input[type='submit'],
.panel-Toiletries .panel-heading,
.panel-Toiletries input[type='submit'] {
	background-color: #591544;
}

.panel-Documents .panel-heading, 
.panel-Documents input[type='submit'],
.panel-Personal .panel-heading,
.panel-Personal input[type='submit'] {
	background-color: #932E40;
}

.panel-Food .panel-heading, 
.panel-Food input[type='submit'],
.panel-Miscellaneous .panel-heading,
.panel-Miscellaneous input[type='submit'] {
	background-color: #9D5115;
}

.panel-Medicine .panel-heading,
.panel-Medicine input[type='submit'] {
	background-color: #DA9313;
}


