<h1>)'( Playa Packing List</h1>

<div ng-controller="ListCtrl">
	<div class="row">
		<div class="col-sm-12"
			<ul>
				<li ng-repeat="item in items" class="list-item">
					<input type="checkbox" ng-model="item.checked" class="large" ng-click="checkItem(item)">
					<span ng-dblclick="editItem(item)" class="done-{{item.checked}} hide-{{item.editing}}">{{item.name}}</span>

					<span class="show-{{item.editing}}">
						<form ng-submit="doneEditing(item)">
							<div class="col-sm-4">
								<input type="text" class="form-control" value="{{item.name}}" ng-model="item.name" ng-blur="doneEditing(item)" autofocus>
							</div>
						</form>
					</span>

					<a href="#" ng-click="deleteItem(item)">Delete</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<form ng-submit="addItem()">
			<div class="col-sm-4">
				<input type="text" class="form-control" ng-model="newItem.name" placeholder="Add item">
			</div>
			<div class="col-sm-1">
				<input type="submit" class="btn btn-info" value="Add">
			</div>
		</form>
	</div>
</div>