<div ng-controller="ListCtrl" id="list-main">
	<div class="col-md-4">
		<div class="panel panel-default intro-panel">
			<div class="panel-body">
				<p>
					<b>Welcome to Playa Planner!</b>
				</p>  
				<p>
					Sign in to view your packing list, or use these pre-populated items to start. When you're done, you can save or print your list.
				</p>
				<p>
					Tip:&nbsp;&nbsp;Double click on an item to edit
				</p>
			</div>
		</div>
		<div class="panel panel-default intro-panel">
			<div class="panel-body">
				<p>
					<b>Completed Items</b>
					<span class="badge pull-right">{{(items | filter:{checked:'true'}).length}} / {{items.length}}</span>
				</p>
				<div class="progress">
					<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="{{(items | filter:{checked:'true'}).length}}" aria-valuemin="0" aria-valuemax="{{items.length}}" style="width: {{(items | filter:{checked:'true'}).length / items.length * 100}}%">
						{{((items | filter:{checked:'true'}).length / items.length * 100) | number:1}}%
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default intro-panel">
			<div class="panel-body">
				<p>
					<b>Are you radically self-reliant?</b>  
					Click the button below if you'd prefer to start with an empty list.
					<form ng-submit="emptyList()">
						<input type="submit" class="btn btn-default" id="list-empty-submit" value="Empty List">
					</form>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-8 panels-container">
		<h3 class='packing-list-header text-center'>Packing List</h3>
		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

			<ul ng-repeat="category in categories">
				<div class="panel panel-default panel-category panel-{{category}}">
					<div class="panel-heading" role="tab" id="heading{{$index}}">
						<h2 class="panel-title">
							<i class="fa fa-angle-right" ng-hide="showItems"></i>
							<i class="fa fa-angle-down" ng-show="showItems"></i>
							<a data-toggle="collapse" data-parent="#accordion" href="#collapse{{$index}}" aria-expanded="false" aria-controls="collapse{{$index}}" class="accordion-link" ng-click="showItems = ! showItems">
								{{category}}
							</a>
						</h2>
					</div>
					<div class="panel-collapse collapse" id="collapse{{$index}}" role="tabpanel" aria-labelledby="heading{{$index}}">
							<div class="row">

								<div class="col-md-12 col-sm-12 panel-body">
									<li ng-repeat="item in items | filter:{category: category} | orderBy:'created_at'" class="list-item col-md-6">
										<div class="item-information">
											<span ng-click="checkItem(item)">
												<i class="checkbox show-{{item.checked}} fa fa-check-square-o fa-2x"></i>
											</span>
											<span ng-click="checkItem(item)">
												<i class="checkbox hide-{{item.checked}} fa fa-square-o fa-2x"></i>
											</span>
											<span ng-dblclick="editItem(item)" ng-click="checkItem(item)" class="done-{{item.checked}} hide-{{item.editing}} item-name">
												{{item.name}}
												<a href="javascript:void(0)" ng-click="deleteItem(item)">
													<i class="text-white fa fa-times delete-task"></i>
												</a>
											</span>
											<span class="show-{{item.editing}}">
												<form ng-submit="doneEditing(item)">
													<input type="text" class="form-control edit-item-input" value="{{item.name}}" ng-model="item.name" ng-blur="doneEditing(item)">
												</form>
											</span>
										</div>
									</li>
								</div>
							</div>

							<div class="row new-item-row">
								<li class="list-item col-md-12">
									<form class='add-item-form' ng-submit="addItem(category, newItem.name)">
										<div class="col-sm-12">
											<div class="input-group">
												<input type="text" class="form-control" ng-model="newItem.name" placeholder="Add item">
												<span class="input-group-btn">
													<input type="submit" class="btn add-item-button" value="Add">
												</span>
											</div>
										</div>
									</form>
								</li>
							</div>
						</div>
					</div>
				</div>
			</ul>
		</div>
	</div>

</div>
